[Unit]
Description=Ceph meta service
After=network-online.target ceph-mon.service ceph-mds.service
Wants=ceph-mon.service ceph-mds.service
#PropagatesReloadTo=ceph-mon.service ceph-mds.service

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=-/bin/true
ExecStartPre=-/bin/systemctl start ceph-osd*
## ExecStopPost is not needed because OSDs use "PartOf=ceph.service".

[Install]
WantedBy=multi-user.target
